{% extends 'studentbase.html' %}
{% block content %}
<div class="rightContainer">
    <div class="actionCardContainer">
        <div class="actionCard">
            <p>Available Exam</p>
            <p><i class="bi bi-book">&nbsp;&nbsp;</i>{{totalCourses}}</p>
        </div>
    </div> 
    <div class="profileSection">
        <div class="HighLight">WELCOME HERE</div>
        <div class="HighLight">THIS IS A EXAMINATION PORTAL</div>
        <div class="name">Mr/Ms. {{data.firstname}} {{data.lastname}}</div>
    </div>      
</div>
</div> <!---base.html----div do not remove-->

</body>

</html>
{% endblock %}