{% extends 'teacherbase.html' %}
{% block content %}
<div class="rightContainer">
    <div class="actionCardContainer">
        <div href="#" class="actionCard">
            <p>Total Courses</p>
            <p><i class="bi bi-journal-bookmark-fill">&nbsp;&nbsp;</i> {{totalCourses}}</p>
        </div>
    </div>
    <div class="inputForm">
        <form class="insertInputForm" method="post">
            {% csrf_token %}
            {{course}}
            <input class="InputBtn signUpBtn" type="submit" value="Add Course">
        </form>
    </div>
</div>
</body>

</html>
{% endblock %}